#root {
  max-width: 1280px;
  text-align: center;
  font-family: "Sofia", sans-serif;
}

.overrideFont {
  font-family: "sans-serif";
}

.linkColour {
  color: black;
}

.colour-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.colour-block {
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px 50px 30px;
  margin: 10px;
}

#NewForm {
  background-color: #abcdef;
  padding: 30px 10px;
  border: 7px double black;
  border-radius: 15px;
}

button {
  min-height: 25px;
  margin: 0 10px;
  border-radius: 15px;
  border-color: #abcdef;
  box-shadow: 5px 5px 5px #009CF9;
}

button:hover {
  color: white;
  background-color: black;
  box-shadow: 5px 5px 5px white;
}

input {
  height: 20px;
  margin: 10px;
  border-radius: 15px;
  border-color: #abcdef;
  box-shadow: 5px 5px 5px #009CF9;
}

input:focus {
  outline: none;
  box-shadow: 5px 5px 5px black;
}

#new-colour-link, #home-link {
  margin: 10px;
  color: white;
}

nav {
  background-color: #008A5C;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #ABCDEF
#7AFAC4
#3BC08E
#008A5C */